<%= @game.player_1.name %> vs. <%= @game.player_2.name %>
<p>
<%= @game.player_2.name%>: <%= Player::HP %>HP
</p>
<form action="/player_1_attack" method="post">
    <input type="submit" value="Player_1 Attack">
</form>



